{% extends 'account/base.html' %}

{% block content %} 
    <div class="vertical-center">
        <div class="container">
            <h1 id="auth">Vous êtes ...</h1>
            <div class="text-center">
                <button class="form__button" type="submit" value="eleve" onClick="location.href='./account/login';">Un élève</button>
                <br><br>
                <button class="form__button" type="submit" value="university" onclick="location.href='./account/institution_login';">Une université</button>
                <br><br>
                <button class="form__button" type="submit" value="sponsor" onclick="location.href='./account/sponsor_login';">Un partenaire</button>
                <br>
            </div>
        </div>
    </div>
{% endblock %}