{% extends 'account/base.html' %}

{% block content %} 
<div class="vertical-center">
  <div class="container">
    <h1>S'authentifier</h1>
    <form class="site-form" action="{% url 'account:login' %}" method="post">
      {% csrf_token %}
      <ul>
      {% for f in form %}
        <li>{{ f.label }}<br>{{ f }}</li>
      {% endfor %}
    </ul>
      <!-- {{ form.as_ul }} -->
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}
      <input type="submit" value="login">
    </form><br>
    <a href="{% url 'student:index' %}">Shortcut</a>
    </div>
  </div>
    <style>
      body {
        font-style: normal;
        font-family: 'Poppins', sans-serif;
      }
      .form-control {
        text-align: left;
        margin-bottom: 0.5em;
        position: relative;
        display:block;
        font-family: 'Poppins', sans-serif;
        color: rgba(5, 21, 79, 0.92);
      }
      ul {
        text-align: left;
        font-style: normal;
        margin-bottom: 0.5em;
        position: relative;
        display:block;
      }
      ul li {
        text-align: left;
        font-style: medium;
        margin-bottom: 1.5em;
        position: relative;
        display: block;
        font-family: 'Poppins', sans-serif;
      }
      br {
        margin-bottom: 0.5em;
      }
      /* input[type="text"] > span {
        display: block;
        position: relative;
        margin-bottom: 10px;
      } */
    </style>   
{% endblock %}