{% extends 'account/base.html' %}

{% block content %} 
    <h1>S'inscrire</h1>
    <form class="site-form" action="/account/signup/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="signup">
    </form>
    <style>
        input[type=button], input[type=reset] input[type=submit] {
        margin-top: 40px;
        margin-left: 40px;
        font-size: 1em;
        font-style: bold;
        color: white;
        background-color: rgb(20, 115, 192);
        cursor: pointer;
        border-radius: 0.4em;
        margin-left: 600px;
        margin-top: -50px;
        padding: 10px 16px;
      }
    </style>
{% endblock %}